<header class="bg-gradient-to-r from-blue-600 to-indigo-700 dark:from-gray-800 dark:to-black shadow-md sticky top-0 z-50">
  <nav class="container mx-auto px-4 py-3 flex flex-wrap justify-between items-center" aria-label="Main Navigation">
    <a routerLink="/" class="flex items-center group focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-blue-700 focus:ring-white rounded-full">
      <div class="w-10 h-10 rounded-full bg-white flex items-center justify-center shadow-md
                  group-hover:scale-110 group-hover:-rotate-12 group-hover:shadow-lg
                  transition-all duration-300 ease-in-out">
        <span class="font-bold text-lg text-blue-700">BI</span>
      </div>
    </a>

    <!-- Mobile Menu Button -->
    <button (click)="toggleMenu()" class="md:hidden text-white focus:outline-none focus:ring-2 focus:ring-white rounded-md p-2"
            [attr.aria-expanded]="isMenuOpen" aria-controls="mobile-menu" aria-label="Toggle navigation menu">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Navigation Links -->
    <ul id="mobile-menu" class="w-full md:w-auto md:flex space-y-4 md:space-y-0 md:space-x-6 mt-4 md:mt-0"
        [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen}">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-link block focus:outline-none focus:ring-2 focus:ring-white rounded-md w-max" (click)="toggleMenu()">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link" class="nav-link block focus:outline-none focus:ring-2 focus:ring-white rounded-md w-max" (click)="toggleMenu()">About</a></li>
      <li><a routerLink="/skills" routerLinkActive="active-link" class="nav-link block focus:outline-none focus:ring-2 focus:ring-white rounded-md w-max" (click)="toggleMenu()">Skills</a></li>
      <li><a routerLink="/experience" routerLinkActive="active-link" class="nav-link block focus:outline-none focus:ring-2 focus:ring-white rounded-md w-max" (click)="toggleMenu()">Experience</a></li>
      <li><a routerLink="/projects" routerLinkActive="active-link" class="nav-link block focus:outline-none focus:ring-2 focus:ring-white rounded-md w-max" (click)="toggleMenu()">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link" class="nav-link block focus:outline-none focus:ring-2 focus:ring-white rounded-md w-max" (click)="toggleMenu()">Contact</a></li>
    </ul>
  </nav>
</header>